<div class="container landing-state">
	
	  <div class="left-col col pull-left">

  <header>
    <!-- <div class="header-icon"></div> -->
    <h1>Panacea</h1>
  </header>

  <div id="left-scroll" scroller class="scroller">
  <section class="scroll-window">


  </section>
  </div>


  </div>

  <div class="right-col col pull-left">

  <header>
    <h1>Objection Handler</h1>
  </header>

  <div id="right-scroll" class="scroller">
  <section>

	<div class="speech-section">
	  
	  
	  <div class="speech-text landing-green first bubble-left speech-wide" ui-sref="home.view">
	    The open-label design of PANACEA versus COMPETITOR study could bias the results and weaken the capacity to make a rigorous assessment of the data.
	  </div>

	  <div class="speech-text landing-green first bubble-left speech-wide">
	    Is PANACEA really more effective than the current standard of care?
	  </div>

	  <div class="speech-text landing-green first bubble-left speech-wide">
	    PANACEA has an increased incidence of adverse events among the older patient population in the study, why should I prescribe PANACEA over the current <br>standard of care?
	  </div>

	  <div class="speech-text landing-green first bubble-left speech-wide">
	    You haven’t shown me that PANACEA can be used in patients who are non-symptomatic but still require on-going treatment?
	  </div>

    </div>

  </section>
  </div>

  </div>

</div>

