<div class="side-text">
Respond
</div>

<div class="speech-text blue speech-wide" id="objection8"  ng-class= "{'active':objection === 'objection8'}" speech-text ch-objection="objection8">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil alias deserunt libero adipisci soluta pariatur ipsum earum a nesciunt esse animi voluptates, officiis dolores voluptate veniam blanditiis tempora assumenda voluptas.

<!-- <span class="arrow green-left"></span>
<span class="arrow green-right"></span> -->
</div>

 <div class="arrow-container">
	<!-- <button  arrow-down ch-step="3" ch-route="b" ch-objection="objection7" class="next-arrow" ng-disabled="stage.step>3"></button> -->

</div>
