<div class="side-text">
Response
</div>

<div class="speech-text blue speech-wide bubble-right" ng-class= "{'active':objection === 'objection6'}" id="objection6" speech-text ch-objection="objection6">
Open-label design is not uncommon as it is not always possible to obtain blinded supplies of comparator products. Additional blinded studies have been completed with PANACEA and COMPETITOR showing results consistent with the open-label study.
</div>

 <div class="arrow-container">
	<button  arrow-down ch-step="2" ch-route="b" ch-objection="objection7" class="next-arrow" ng-disabled="stage.step > 1 && stage.route == 'b'"></button>
</div>

