<div class="side-text">
Verify
</div>

<div class="speech-text blue speech-wide bubble-right" id="objection10"  ng-class= "{'active':objection === 'objection10'}" speech-text ch-objection="objection10">
Have I been able to reassure you that the PANACEA versus COMPETITOR study has been completed under all medical and regulatory requirements and the results of the study are valid?
</div>

 <div class="arrow-container">
	<button  arrow-down ch-step="3" ch-route="c" ch-objection="objection11" class="next-arrow" ng-disabled="stage.step > 2 && stage.route == 'c'"></button>

</div>
