<div class="side-text">
Respond
</div>

<div class="speech-text blue speech-wide" ng-class= "{'active':objection === 'objection6'}" id="objection6" speech-text ch-objection="objection6">
Non-blinded (open-label) trial design is not uncommon in COPD as it is not always possible to manufacture or obtain blinded supplies of comparator products
IGNITE program was carried out in accordance with all scientific and regulatory requirements.

<!-- <span class="arrow green-left"></span>
<span class="arrow green-right"></span> -->
</div>

 <div class="arrow-container">
	<button  arrow-down ch-step="2" ch-route="b" ch-objection="objection7" class="next-arrow" ng-disabled="stage.step > 1 && stage.route == 'b'"></button>
</div>

