<div class="side-text">
Clarify
</div>

<div class="speech-text blue bubble-right speech-wide" ng-class= "{'active':objection === 'objection3'}" speech-text ch-objection="objection3" id="objection3">
What have you heard about the open-label design that makes you question the assessment validity?

<!-- <span class="arrow green-left"></span>
<span class="arrow green-right"></span> -->
</div>

 <div class="arrow-container">
	<button  arrow-down ch-step="0" ch-route="" ch-objection="makeChoice" class="next-arrow" ng-disabled="stage.step>3 || stage.route != 'a'"></button>
</div>