<div class="side-text">
Response
</div>

<div class="speech-text blue speech-wide bubble-right" id="objection9"  ng-class= "{'active':objection === 'objection9'}" speech-text ch-objection="objection9">
When blinding is not possible, studies with open-label arms are accepted by regulatory and medical authorities as an appropriate way to conduct a trial. The PANACEA versus COMPETITOR study evaluators were blinded to the study arms during their interpretation of the results and the study was undertaken in accordance with all medical and regulatory requirements.
</div>

 <div class="arrow-container">
	<button  arrow-down ch-step="2" ch-route="c" ch-objection="objection10" class="next-arrow" ng-disabled="stage.step > 1 && stage.route == 'c'"></button>
</div>
